--index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://pypi.org/simple

transformers==4.51.0
pillow
uvicorn
python-multipart
streamlit
huggingface_hub
accelerate
python-dotenv
fastapi